{% extends "index.html" %}
{% load crispy_forms_filters %}
{% load static %}
{% load crispy_forms_tags %}

{% block cont %}
    <div class="backdrop">

    <div class="container  bg-white shadow-md py-5 form-layout">
           <h3 style="align-content: center">Delete Task</h3>
        <br>
    <form method="POST" action="{% url 'taskapp:deleteTask' pk=task.pk %}" autocomplete="off">
        {% csrf_token %}

        <p>Are you sure that you want to delete this task</p>3333
        <br><br>
        <a href="{% url 'taskapp:viewTask' %}">No</a>
        <input class="btn btn-primary navbar btn" type="submit" value="Yes">

    </form>

    </div>
    </div>
{% endblock %}